

<h1>Margin à ajouter</h1>
<h1>Margin à ajouter</h1>


<h1>Edit Voyage</h1>

<% if current_user.id == @voyage.user_id %>
  <%= render "form", voyage: @voyage %>
<% else %>
<p>You can not modify</p>
<% end %>
