<h2> Réserve ta chambre</h2>


<%# Voir comment faire pour que chacun puisser reserver un lit %>

<%# Marquer une chambre/cabane comme complète quand tous les lits ont été réservé %>

<%# Indiquer qui a réserver un lit dans la cabane ? %>
