<h1>Le lieu reste encore secret</h1>

<h2>Comment s'y rendre</h2>

<p>A 1h45 de Paris en train ou voiture</p>
<p>À 3h40 de Lyon en train ou voiture (changement à la gare de Lyon donc la même gare)</p>

<p>Rendez vous gare de Montargis</p>


<p>Montargis - lieu : environ 25 min en voiture</p>


<%# Questionaire pour savoir qui vient comment et si place en voiture %>
