.navbar-container {
  position: fixed;
  width: 100%;
  z-index: 1;

  .container-fluid {
    justify-content: center;
    width: 100%;
  }
}


.navbar-annia {
  background: $lightgreen;
  display: flex;
}

.navbar-annia .navbar-collapse {
  flex-grow: 0;
}

.navbar-annia .navbar-brand img {
  justify-items: flex-end;
  width: 40px;
}
